@charset "UTF-8";

body{
    background-color: #76c376;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #0A4A0A;
}

h1#principal{
    text-align: center;
    background-color: #107C10;;
    color: white;
}

h2{
    color: #3F933F;
}

.básico{
   color: #3F933F;
}

.intermediário{
    color: #93903f;
}

.avançado{
    color: #933f3f;
    font-weight: bold;
}

