@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    
    font-family: cursive;
    margin: 0;
}

header{
    width: 100%;
    background-color: black;
    padding: 50px 0 50px 0;
    margin: 0 0 0 0;
}

header > h1{
    color: white;
    text-align: center;
    margin: 0 0 0 0;
    font-variant: small-caps;
    font-size: 3em;
}

header > p{
    color: white;
    text-align: center;
}

a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

main{
    font-size: 1.8em;
    line-height: 2em;
}

article{
   padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

article.shadow{
    background-color: rgba(51, 51, 51);
    padding: 5px;
}

article.shadow > p{
    margin-left: 30px;
    text-shadow: 1px 1px 0 black;
    color: white;
    background-color: rgba(0, 0, 0, 0.496);
    width: 400px;
}

footer{
    background-color: black;
    padding: 1px 0 1px 0;
}

footer > p{
    color: white;
    text-align: center;
}